hr {
	margin: 25px auto;
	max-width: 1000px;
}

p {
	padding: 25px 0px;
	text-align: justify;
}

ul {
	padding: 25px min(50px, 10%);
}

ul * {
	text-align: justify;
}

#title {
	margin-top: 25px;
}

#navbar {
	margin: 15px;
}

#navbar a {
	padding: 10px;
}

#main {
	max-width: 700px;
	margin: auto;
}
